<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>All rights reserved by the SDS Lab. <a href="https://www.northeastern.edu/">Northeastern University</a> </p>
		  <p>Visit the SDS Lab at: <a href='https://campusmap.northeastern.edu/printable/campusmap.pdf'>216 Mass Ave,Boston,MA 02115</a></p>
                  <p>Last major modification: July 4, 2021.</p>
            
            		  
            	</div>
		<div class="col-sm-4">
		  Major Funding Sources:<br />
		  -<a href="https://www.nsf.gov/">National Science Foundation </a> <br />
		  -<a href="https://www.energy.gov/">US Department of Energy</a><br />
		  -<a href="https://www.defense.gov/">US Department of Defense</a><br />
		  -<a href="https://www.dhs.gov/">Department of Homeland Security</a><br />
		</div>
		
		<div class="col-sm-4">
		  Contact:<br />
		  Principal Investigator: <a href="https://coe.northeastern.edu/people/ganguly-auroop/">Auroop Ganguly</a><br />
		  400 Snell Engineering Building<br />
		  Northeastern University<br />
		  360 Huntington Avenue, Boston<br />
		  MA 02115 <br />
            (<a href="https://www.google.nl/maps/place/Northeastern+University/@42.3397869,-71.0911995,17z/data=!4m5!3m4!1s0x89e37a1999cf5ce1:0xc97b00e66522b98c!8m2!3d42.3398067!4d-71.0891717?hl=en">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
