<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>All rights reserved by SDS Lab. @ <a href="https://www.northeastern.edu/">Northeastern University</a>;  </p>
              <p>We are part of the SDS Lab.</p>
            

		   <p>  </p><p>
            		  
            
		</div>
		<div class="col-sm-4">
		  Funding:<br />
		  - <a href="https://www.nsf.gov/">National Science Foundation </a> <br />
		  - <a href="https://www.energy.gov/">US Department of Energy</a>
          - <a href='https://www.universiteitleiden.nl/en/news/2017/08/two-erc-grants-for-leiden-physics'>ERC starting grant</a>
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  467 Snell Engineering Building • Northeastern University<br />
		  360 Huntington Avenue, Boston<br />
		  MA 02115 <br />
            (<a href="https://goo.gl/maps/H2RjutkyoUH2">Maps</a>, <a href="http://www.physics.leidenuniv.nl/travel-directions">Directions</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
