---
layout: default
---
  <head>
    <style>
      .heading { color: #FF0B00; }
    </style>
  </head>
    <div id="homeid" class="col-sm-8">
        <h1 style=" background: #FF0000;
	background: -webkit-linear-gradient(to left, #FF0000 50%, #000000 100%);
	background: -moz-linear-gradient(to left, #FF0000 50%, #000000 100%);
	background: linear-gradient(to left, #FF0000 50%, #000000 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;">Welcome to the SDS Lab</h1>

	{{ content }}
  </div>
  <div id="newsid" class="col-sm-4" >
	{% include news.html %}
  </div>
